<form method="post" action="/user/reg">
    <input id="login" name="username"/>
    <input id="password" name="password">
    <select name="sex">
        <option>Men</option>
        <option>Girl</option>
    </select>
    <input type="submit" value="Войти">
</form>