<ul>
{{#each items}}
   <li>
       <p>{{body}}</p>
       <p>{{uid}}</p>
       <img src="{{info.photo_200}}"/>
       <form action="/send" method="get">
           <input name="msg"/>
           <input name="user_id" type="hidden" value="{{uid}}"/>
           <input type="submit"/>
       </form>
   </li>
{{/each}}
</ul>

