<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script type="text/javascript" src="/jquery-3.1.1.min.js"></script>

</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<script type="text/javascript">
    // make sure to use triple brackets
    var user = {{{userJson}}};
</script>
<div id="app" />

<script type="text/javascript" src="/index.js"></script>
<input type="button" id="send" value="Отправить">
<p>{{user.username}}</p>
<!--<nav>-->
    <!--<li><a href="/">Главная</a></li>-->
    <!--<li><a href="/user/reg">Регистрация</a></li>-->
    <!--<li><a href="/user/login">Войти</a></li>-->
    <!--<li><a href="/services">Главная сервисы</a></li>-->
    <!--<li><a href="/services/msg">Сообщения</a></li>-->
    <!--<li><a href="/services/dialogs">Диалоги</a></li>-->
    <!--<li><a href="/services/profile">Профайл</a></li>-->
    <!--<li><a href="/user/logout">Выйти</a></li>-->
<!--</nav>-->
    {{{body}}}
</body>
</html>