<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<script type="text/javascript">
    // make sure to use triple brackets
    var user = {{{userJson}}};

    function send() {
        io().emit('profileFetch', 'data', function(serverData) {
            console.log(serverData);
        });
    }
</script>
<div id="app" />
<script type="text/javascript" src="/dist/bundle.js"></script>

<button id="btn" onclick="send()">Button</button>

    {{{body}}}
</body>
</html>